.mainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 2s;
    padding-top: 3%;
}
 


@media screen and (max-width:600px) {
    .mainDiv {
        margin-top: 20%;
        width: 80%;
        padding-left: 20%;
    }
}


@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }