.mainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}
 


@media screen and (max-width:600px) {
    .mainDiv {
        margin-top: 20%;
        width: 80%;
        padding-left: 20%;
    }
}