.mainDiv {
    display: flex;
    width: 900px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(57, 255, 20);
    border-radius: 20px;
    margin-bottom: 10px;
    /* background: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
    font-family: 'Roboto', sans-serif;
    background-color: black;


    -webkit-box-shadow: 0px 0px 20px 3px  rgba(57,255,20,1);
    -moz-box-shadow: 0px 0px 20px 3px  rgba(57,255,20,1);
    box-shadow: 0px 0px 20px 3px rgba(57,255,20,1);
}

.leftSide {
    margin-left: 70px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.rightSide {
    width: 30%;
}

.titleSection {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 10px;
    font-size: 30px;
    
}



.description {
    font-size: 15px;
}



.border {
    border: 2px solid green!important;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(40,164,247,1)!important;
-moz-box-shadow: 0px 0px 20px 3px rgba(40,164,247,1)!important;
box-shadow: 0px 0px 20px 3px rgba(40,164,247,1)!important;

}

.developers {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.developer {

}